

h1{
    color: rgb(247, 127, 97);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}

.header{
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(15px);
    background-color: rgba(240, 160, 184, 0.2);
}
