.vvv{
    height: 100px;
    width: 100px;
    
}
.mmm{
    width: 200px;
    height: 100px;
    margin-left: 50px;
}

h1{
    text-align: center;
    color: gold;
}

.php{
    height: 100px;
    width: 150px;
}

.react{
    background-color: rgb(122, 109, 109);
    color: white;
}
.reacte{
    background-color: rgb(122, 109, 109);
    color: white;
    left: 640px;
}

.tech{
    margin-top: 200px;
}